In [30]:
import os
import pandas as pd

In [31]:
# Set the notebook display settings
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

# Raw Data

In [32]:
# Get the parent directory of the current working directory
parent_dir = os.path.abspath(os.path.join(os.getcwd(), ".."))

# Define the file path for the CSV file
file_path = os.path.join(parent_dir, "raw_data", "synthetic_dataset.csv")

df = pd.read_csv(file_path)
df.head()

,customer_id,customer_name,age,gender,income,loyalty_points,is_member,order_date,order_time,product_1,product_2,product_3,product_4,product_5,category_1,category_2,category_3,category_4,category_5,price_1,price_2,price_3,price_4,price_5,quantity_1,quantity_2,quantity_3,quantity_4,quantity_5
0,1,Michael James,37,Other,38034.53,549,True,2022-06-12,15:36:24,A,G,K,N,Q,Books,Home,Food,Games,Health,104.00,56.80,47.17,8.45,1.31,3,1,1,49,67
1,2,Valerie Robinson,56,Male,42889.48,917,False,2022-10-28,00:38:45,A,F,K,M,R,Books,Office,Drinks,Sports,Beauty,111.17,178.13,16.29,16.97,9.86,4,6,11,27,50
2,3,Andrew Hammond,30,Male,50964.49,760,False,2022-05-15,08:35:35,A,E,L,O,T,Clothing,Outdoor,Food,Sports,Beauty,129.06,93.01,25.34,1.52,3.23,2,4,12,2,47
3,4,Jenna Phillips,42,Female,47439.99,487,True,2022-06-26,23:53:48,C,E,I,P,R,Electronics,Outdoor,Food,Toys,Health,435.51,199.84,45.83,5.86,3.54,4,6,19,13,85
4,5,Charles Lane,33,Other,50693.69,741,True,2023-03-28,23:54:58,B,E,L,P,T,Clothing,Office,Food,Toys,Beauty,307.29,17.92,18.05,2.41,9.80,1,9,2,24,20

# Data Type Analysis & Conversion

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 29 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     10000 non-null  int64
 1   customer_name   10000 non-null  object
 2   age             10000 non-null  int64
 3   gender          10000 non-null  object
 4   income          10000 non-null  float64
 5   loyalty_points  10000 non-null  int64
 6   is_member       10000 non-null  bool
 7   order_date      10000 non-null  object
 8   order_time      10000 non-null  object
 9   product_1       10000 non-null  object
 10  product_2       10000 non-null  object
 11  product_3       10000 non-null  object
 12  product_4       10000 non-null  object
 13  product_5       10000 non-null  object
 14  category_1      10000 non-null  object
 15  category_2      10000 non-null  object
 16  category_3      10000 non-null  object
 17  category_4      10000 non-null  object
 18  category_5      10000 non-null  object
 19  price_1         10000 non-null  float64
 20  price_2         10000 non-null  float64
 21  price_3         10000 non-null  float64
 22  price_4         10000 non-null  float64
 23  price_5         10000 non-null  float64
 24  quantity_1      10000 non-null  int64
 25  quantity_2      10000 non-null  int64
 26  quantity_3      10000 non-null  int64
 27  quantity_4      10000 non-null  int64
 28  quantity_5      10000 non-null  int64
dtypes: bool(1), float64(6), int64(8), object(14)
memory usage: 2.1+ MB

In [34]:
# Get the data type of each column in the DataFrame
data_types = df.dtypes.reset_index()
data_types.columns = ["Original Column Name", "Original Data Type"]
data_types["New Data Type"] = data_types['Original Data Type']

# Create a new column with spaces instead of underscores and initial case
data_types["New Column Name"] = data_types["Original Column Name"].str.replace("_", " ").str.title()

# Display the data type of each column in a new DataFrame
print(f"Sample of Data Types by Column:\n{data_types.head(5)}\n")

# Count the number of columns of each data type
data_type_counts = df.dtypes.reset_index().groupby(0).count().reset_index()
data_type_counts.columns = ["Data Type", "Count"]

print(f'Column count by Data Type:\n{data_type_counts}\n')

Sample of Data Types by Column:
  Original Column Name Original Data Type
0          customer_id              int64
1        customer_name             object
2                  age              int64
3               gender             object
4               income            float64

Column count by Data Type:
  Data Type  Count
0      bool      1
1     int64      8
2   float64      6
3    object     14

In [35]:
# Convert numerical boolean columns to categorical booleans

# Iterate over each column in the DataFrame
for col in df.columns:
    # Check if the column is of type int64 and contains only 1 and 0
    if df[col].dtype == "int64" and set(df[col].unique()) == {0, 1}:
        # Convert the column to bool
        df[col] = df[col].astype(bool)

        data_types.loc[data_types['Original Column Name'] == col, 'New Data Type'] = bool

Different pandas column types

Numeric types:
int64: Signed 64-bit integer
float64: Floating-point number

Boolean type:
bool: True/False values

Date/time types:
datetime64: Date and time values
timedelta64: Differences between two datetime values

Categorical type:
categorical: Finite list of text values

Text types:
object: Any Python object

In [36]:
# If numerical then display statistical info

df.describe(include=["int64", "float64"]).T

,count,mean,std,min,25%,50%,75%,max
customer_id,10000.0,5000.500000,2886.895680,1.00,2500.7500,5000.500,7500.2500,10000.00
age,10000.0,40.956800,13.618667,18.00,29.0000,41.000,53.0000,64.00
income,10000.0,50000.837089,10066.422992,9739.01,43224.9675,49956.745,56837.7450,85723.82
loyalty_points,10000.0,497.715000,287.792652,0.00,250.7500,496.000,745.0000,999.00
price_1,10000.0,254.005406,140.993907,10.06,132.0975,254.250,376.0625,499.93
price_2,10000.0,103.263121,56.012587,5.01,54.6875,103.195,150.9525,199.99
price_3,10000.0,26.136130,13.763113,2.00,14.3400,26.180,38.1225,50.00
price_4,10000.0,10.417131,5.516516,1.00,5.6100,10.365,15.1800,20.00
price_5,10000.0,5.230277,2.742789,0.50,2.8700,5.190,7.6000,10.00
quantity_1,10000.0,2.493300,1.124403,1.00,1.0000,2.000,4.0000,4.00
quantity_2,10000.0,4.946600,2.578219,1.00,3.0000,5.000,7.0000,9.00
quantity_3,10000.0,10.021700,5.453403,1.00,5.0000,10.000,15.0000,19.00
quantity_4,10000.0,24.931500,14.171333,1.00,13.0000,25.000,37.0000,49.00
quantity_5,10000.0,49.708800,28.722805,1.00,25.0000,50.000,75.0000,99.00

In [37]:
# If datetime or timedelta

# Select the columns that are of type datetime64 or timedelta64
date_cols = data_types[data_types["Original Data Type"].isin(["datetime64[ns]", "timedelta64[ns]"])]["Original Column Name"]

# Iterate over each date column and display information about it
for col in date_cols:
    if df[col].dtype == "datetime64[ns]":
        print(f"Column: {col} (datetime)")
        print(f"Earliest date: {df[col].min()}")
        print(f"Latest date: {df[col].max()}")
        print(f"Number of unique dates: {df[col].nunique()}")
    else:
        print(f"Column: {col} (timedelta)")
        print(f"Shortest time: {df[col].min()}")
        print(f"Longest time: {df[col].max()}")
        print(f"Number of unique times: {df[col].nunique()}")
    print("\n")

In [38]:
# Categorical data

df.describe(include=['O', 'bool', 'category']).T

               count unique            top  freq
customer_name  10000   9417  Michael Jones     6
gender         10000      3          Other  3352
is_member      10000      2          False  5021
order_date     10000    366     2023-01-07    46
order_time     10000   9427       21:11:05     3
product_1      10000      4              C  2541
product_2      10000      4              F  2546
product_3      10000      4              L  2549
product_4      10000      4              N  2534
product_5      10000      4              R  2550
category_1     10000      3       Clothing  3375
category_2     10000      3           Home  3381
category_3     10000      3         Drinks  3363
category_4     10000      3          Games  3391
category_5     10000      3           Pets  3368

In [39]:
# If object then it needs breaking down further - as it contains multiple types